h1{
    color:#CFCFCF;;
    font-family: goudy_trajan_boldbold,"times new roman",Arial,Sans-Serif;
    text-transform: uppercase;
    font-size: 32px;
    line-height: normal;
    font-weight: normal;
    text-shadow: 1px 1px 2px #111;
    text-align: left;
    margin-left:135px;
    margin-top:0px;
}

#cabecalho a{
    text-decoration:none;
    color:#908d8b;
}

#cabecalho a:active,#cabecalho a:hover{
    color: #CFCFCF;
    text-decoration: none;
}

.ilink{
    font-family: Georgia,"Bitstream Charter",serif;
    color:#c33D2B;
    font-size: 32px;
    line-height: normal;
    font-weight: normal;
    text-shadow: 1px 1px 2px #111;
    text-align: left;
}

.ilink:hover{
    text-decoration: underline;
}

small{
    font-family: Arial,sans-serif;
    color: #7D7D7D;
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
}
